# =========================
# Unity Generated Folders
# =========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# =========================
# OS / Editor Junk
# =========================
.DS_Store
._*
.vscode/
.vs/
.gradle/

# =========================
# Unity / IDE Files
# =========================
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# =========================
# Crash / Auto Generated
# =========================
sysinfo.txt
mono_crash.*
*.log

# =========================
# Builds & Packages
# =========================
*.apk
*.aab
*.unitypackage
*.app

# =========================
# Addressables / Streaming
# =========================
ServerData/
Assets/StreamingAssets/aa*
Assets/AddressableAssetsData/*/*.bin*

# =========================
# Visual Scripting Generated
# =========================
Assets/Unity.VisualScripting.Generated/
Library/ 
Temp/ 
Logs/ 
.DS_Store 
